# Grafana Loki Datasource Configuration
# Automatically provisions Loki as datasource on Grafana startup

apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: false
    jsonData:
      maxLines: 1000
      timeout: 60s
